<%- include('../../layouts/admin/header')%>
<%- include('../../layouts/admin/side')%>
<%- include('../../layouts/admin/nav')%>

       
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <h3 class="fw-normal mb-4 text-gray-800">Add Category Name</h3>

                    <div class="row">

                        <div class="col-md-10">
                            

                            <% if(success.length) {%>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Hey</strong>
                                    <%= success%>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <% } else if(error.length) {%>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Hey</strong>
                                        <%= error%>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <% } %>

                                    <form method="post" action="/admin/categories/create-category">
                                      <div class="form-group text-gray-800">
                                          <label>Category Name</label>
                                          <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Enter Category Name">
                                      </div>
                                      <a href="/admin/categories"  class="btn btn-danger">Cancel</a>
                      
                                      <button type="submit" class="btn btn-primary">Insert</button>
                                  </form> 

                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <%- include('../../layouts/admin/footer')%>