<%- include('../../layouts/admin/header')%>
<%- include('../../layouts/admin/side')%>
<%- include('../../layouts/admin/nav')%>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"><span>
                    <a href="/admin/blog" class="bt-lg text-gray-800" style="text-decoration: none; font-size: 30px;"> &larr;</a>

                </span> View Blog</h1>

                <span><%= all_blogs.createdAt.toLocaleString()%></span>
                <br>
                <img src="/front/uploads/<%= all_blogs.image%>" alt="no img" height="200px" width="300px">

                <h4><%= all_blogs.heading%></h4>
                <p><%- all_blogs.description%></p>
            </div>
            <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <%- include('../../layouts/admin/footer')%>
