<%- include('../../layouts/front/header')%>
<%- include('../../layouts/front/nav')%>

  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <span>
                <a href="/front-user/blog/blog-list" class="bt-lg text-gray-800" style="text-decoration: none; font-size: 30px;"> &larr;</a>

                </span>
                <div class="post-meta"><span class="date"></span> <span class="mx-1"></span> <span><%= blog_details.createdAt.toDateString()%></span></div>

          <div class="col-lg-12 text-center mb-5">

            <h2><%= blog_details.heading%></h2>

            <img src="/front/uploads/<%= blog_details.image%>" alt="blog-imge" width="600px" height="auto">
                <p><%- blog_details.description%></p>
          </div>
        </div>

       
      </div>
    </section>

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../../layouts/front/footer')%>
 